body{
    background-image: url(./static/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#ligature{
    display: none;
}
.yjl_tools{
    width: 30px;
    /* display: flex; */
    position: absolute;
    top: 80px;
    color: #fff;
    height: 60px;
    border: 1px solid #45a1e9;
    z-index: 99999;
}
.yjl_tools >div{
    position: relative;
    display: inline-block;
    float: left;
    width: 30px;
    height: 15px;
    clear: both;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 12px;
}
.yjl_tools > button{
    margin: 2px 2px;
    padding: 0;
    background: none;
    border: none;
    font-size: 12px;
}
.algorithmFoot{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 5%;
}
.algorithmFoot>div{
    width: 50%;

    cursor: pointer;
    color: #ebeef8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00beff;
}
.lkr-page{
    height: 78%;
    width: 90%;
    margin: 15px auto;
    overflow-y: auto;
    border: 1px dashed #084b69;
}
.title-page{
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
}
.title-page li{
    width: 50%;
    float: left;
    list-style: none;
    text-align: center;
}
.title-page li span {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.498039215686275);
    text-align: right;
    cursor: pointer;
}
.title-page li span .dataMod{
    background-image: url(./static/dataMo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    top: 2px;
    position: relative;
    margin-right: 3px;
}
.title-page li span .DicI{
    background-image: url(./static/dictory.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    top: 2px;
    position: relative;
    margin-right: 3px;
}
.Search{
    position: relative;
    text-align: center;
    padding-top: 15px;
}
.Search .icon-search{
    background-image: url(./static/search.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    top: 23px;
    right: 30px;
    position: absolute;
}
.mouldFoot{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 6%;
}
.mouldFoot div{
    width: 100%;
    cursor: pointer;
    color: #ebeef8;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #00beff;
}
.algorithmTilte{
    width:75%;
    margin: auto;
}
.lkr-frame{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
.lir-active{
    color:rgb(255, 217, 0)
}
.lkr-frame-div{
    font-size: 12px;
    background-image: url(./static/alert.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 700px;
    height:500px;
    position: absolute;
    left: 30%;
    top: 15%;
}
.lkr-frame-tilte{
    width: 100%;
    height: 10%;
    /* background: rgba(0, 100, 167, 0.877); */
    color: #ffffff;
    line-height: 47px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.lkr-source-tilte{
    width: 100%;
    height: 10%;
    /* background: rgba(0, 100, 167, 0.877); */
    color: #ffffff;
    line-height: 47px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.lkr-frame-content{
    overflow: auto;
    color:#ffffff;
    width: 100%;
    height: 75%;
    padding: 0 20px;
}
.lkr-input{
    background-color: rgba(0,0,0,0);
    padding: 7px 15px;
    width: 310px;
    border: none;
    outline: none;
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lkr-select option{
    background-color: rgb(22, 65, 144);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.lkr-button{
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background:#409eff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
.addsjyth{
    background-color: #409eff;
    border: none;
    font-size: 16px;
    margin-left: 15px;
    color: #fff;
}
.lkr-button:hover{
    color: #d3d3d3;
    background: rgba(0, 66, 121, 0.801);
}
.lkr-frame-foot{
    width: 100%;
    height: 15%;
    display: flex;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
}
.lkr-flex{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
#flex_canvas{
    border: none;
    background-image: url(./static/lkr.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}
.tools{
    width: 18%;
    min-width: 346px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}
.lkr-msg{
    margin-top: 10px;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lkr-msg-div{
    color: #ffffff;
    padding: 10px 20px;
    width: 48%;
    height: 100%;
    background-image: url(./static/lkrmsg.png);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.lkr-bg-canvas{
    width: 100%;
    /* width: 100%; */
    height: 100%;
}
.lkr-addModel{
    color: #ecbd00;
    width: 75%;
    
    margin: auto;
    margin-top: 10px;
    padding: 5px 0;
    border: 1px dashed #ecbd00;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.lkr-edit{
    color:#4cb1ff;
    width: 49%;
    border-right: 1px dashed #4295ec;
    padding: 10px 0;  
    cursor: pointer;
    text-align: center;
}
.lkr-del{
    color:#ecdb00;
    width: 49%;
    cursor: pointer;
    padding: 10px 0;  
    text-align: center;
}
.lkr-select{
    background:rgba(0,0,0,0);
    height: 30px;
    font-size: 12px;
    padding:0 5px;
    border: none;
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.lkr-table{
    text-align: center;
    font-size: 12px;
    width: 100%;
    border: 1px solid #4295ec;
}
.lkr-table td{
    color:#79ceff;
    padding: 0 ;
}
.lkr-table thead td{
    color:#ebeef8;
    background: rgba(78,164,253,0.15);
}
.lkr-table .dataSourceTbody td input{
    border: none;
    background: none;
    width: 90px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.lkr-msg-div-tilte{
    padding-bottom: 10px;
    border-bottom: 1px solid #4295ec;
}
.lkr-msg-div ul{
    margin-top: 10px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
}
.lkr-msg-div ul li{
    padding: 5px 0;
}
.lkr-tabs{
    padding: 0px;
    margin: 0px;
}
/* .lkr-tabs li{
    display: inline-block;
} */
.lkr-pic_list
{
    display:block;
    white-space:nowrap;
    width:80%;
    margin: auto;
    overflow:auto;
}
.lkr-pic_list li
{
    cursor: pointer;
    color:#ffffff;
    padding: 5px 10px;
    margin:3px;
    /* background:red; */
    display:inline-block;
}
.lkr-pic_list li a{
    color:#ffffff;
}
.tools .title-page{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ::-webkit-scrollbar {display:none} */
.lkr-arrow{
    user-select: none;
    cursor: pointer;
    color: #00beff;
}
.nav-pills{
    float: right;
    line-height: 50px;
}
.nav-pills span{
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}
.nav-pills span:hover{
    background-image: url(./static/botton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav-pills button{
    background: #409eff;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    margin: 0 10px;
}
.navbar{
    margin-bottom: 0px;
}
/* yjl-修改 */
.regulationTilte{
    width:75%;
    margin: auto;
}
.regulationFoot{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 5%;
}
.regulationFoot>div{
    width: 50%;
    cursor: pointer;
    color: #ebeef8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00beff;
}
.ruleTitle{
    position: relative;
    left: 175px;
    color: #fff;
    top: 5px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    width: 100px;
}
.ruleTitle span{
    margin-left: 5px;
    cursor: pointer;
}
#ruleMde input{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
#ruleMde .left-list-event{
    width: 190px;
    margin-left: 30px;
}
#ruleMde .left-list-tilte{
    height: 38px;
    line-height: 38px;
    width: 190px;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rule-flex ul{
    position: relative;
    margin: 0;
    padding: 0;
}
.rule-flex ul li{
    float: left;
    list-style: none;
    color: #fff;
    font-size: 14px;
    margin: 10px 20px;
}
.rule-flex ul li input{
    background-color: rgba(0,0,0,0);
    padding: 5px 15px;
    width: 244px;
    border: none;
    outline: none;
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rule-flex ul li button{
    background-image: url(./static/botton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 4px 15px;
}

/* ********* */
#dicYes{
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 100px;
    background: #409eff;
    color: #fff;
    border: none;
}
#addDic{
    background: #409eff;
    width: 80px;
    color: #fff;
    margin:15px 0;
    border: none;
    height: 30px;
}
#addSzBuuton{
    background: #409eff;
    width: 80px;
    color: #fff;
    margin:15px 0;
    margin-left:20px;
    border: none;
    height: 30px;
}
#dicDiv{
    position: absolute;
    left: 30%;
    top: 15%;
    width: 700px;
    height: 700px;
    display: none;
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#groupDiv{
    position: absolute;
    left: 30%;
    top: 15%;
    width: 500px;
    height: 700px;
    display: none;
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#groupEditDiv{
    position: absolute;
    left: 30%;
    top: 15%;
    width:400px;
    height:300px;
    display: none;
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 99999;
}
#gzDiv{
    position: absolute;
    left: 30%;
    top: 15%;
    width: 670px;
    height: 700px;
    display: none;
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#dicTable{
    margin: 0 20px
}
#editDic{
    z-index: 10;
    position: absolute;
    left: 20%;
    top: 10%;
    width: 1100px;
    height: 700px;
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
    overflow: auto;
}
#zdcsList{
    height: 240px;
    overflow: auto;
    width: 98%;
}
#editDicYes{
    position: absolute;
    bottom: 20px;
    right: 130px;
    width: 80px;
    background: #409eff;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
}
.closeEditDic{
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 80px;
    background: #f56c6c;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
}
#dicTable td,th{
    border: 1px solid #77CDFE;
}
#dicTable th{
    text-align: center;
}
#gzTable td,th{
    border: 1px solid #77CDFE;
}
#gzTable th{
    text-align: center;
}
#editDicName,#editDicDes,.zdcsCsmc,.zdcsText,.zdcsExport,.zdcsSelect,.zdcsTypeSelect,#gsXx,#ljName,#editAuthor,.inputButton,#selectedModlue,.MathJaxInput2,.MathJaxSelect,#ruleName,#ruleRemark,.actionSelected1,.actionSelected2,#varTypeInput,#actionDiv,.varNameInput,.varNameInput1,#company,#group,#groupInputName{
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
}
#ljName,#ljDes,#LogicName,#gsName,#gsDes,#AlgorithmnameY,#MathInput,#companyGs,#groupGs{
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
    width: 350px;
    height: 39px;
    padding-left: 10px;
}
.zdcsSelect option,.zdcsTypeSelect option,.zdcsExport option,#selectedModlue option,.MathJaxInput2 option,.MathJaxSelect option,.actionSelected1 option,.varNameInput option,.actionSelected2 option,#actionDiv option,#actionSelectParma option,#actionSelectName option,.varNameInput option,.varNameInput1 option,#group option,#modulegroup option{
    background-color: rgb(22, 65, 144);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
}
/* 链接数据源 */
.addSource{
    position: relative;

}
.addSource select{
    flex: 2;
    width: 90%;
    margin: 10px auto;
    position: relative;
    display: flex;
    color: #fff;
}
.addSource .lkr-table {
    text-align: center;
    font-size: 12px;
    width: 90%;
    border: 1px solid #4295ec;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
}

#zdcsList input,#zdcsList select{
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
    width: 110px;
    height: 30px;
    padding-left: 10px;
}
#actionSelectParma,#actionSelectName{
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
    height: 39px;
    padding-left: 10px;
}

#editDic span{
    text-align:  center;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    width: 70px;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
    margin-right: 10px;
}
#dicDiv span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}
#groupDiv span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}
#groupEditDiv span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}
#gzDiv span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}
#editDic .title{
    position: absolute;
    width: 100%;
    top: 0;
    height: 40px;
}
#editDic .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 20px;
    text-align: center;
}
#dicDiv .title{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 40px;
}
#dicDiv .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 20px;
    text-align: center;
}
#groupDiv .title{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 40px;
}
#groupDiv .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 20px;
    text-align: center;
}
#groupEditDiv .title{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 40px;
}
#groupEditDiv .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: -5px;
    left: 20px;
    text-align: center;
}
#groupEditDiv .groupMain{
    position: absolute;
    width: 100%;
    top: 100px;

}
#gzDiv .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 20px;
    text-align: center;
}
.addModlue{
    height: 30px;
    line-height: 30px;
    width: 60px;
    background: #409eff;
    border: none;
    color: #fff;
}
#fileupload button{
    position: absolute;
    bottom:80px;
    right: 50px;
}
.delTab{
    background: #f56c6c;
    color: #fff;
}
#colorDiv{
    width: 80px;
    height: 390px;
    position: absolute;
    top:10%;
    right: 22%;
    display: none;
}
#colorDiv ul{
    padding: 0;
}
#colorDiv li{
    list-style: none;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}
#varTypeInput{
    width: 220px;
    height: 39px;
}
#actionSelectDiv span{
    text-align:  center;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    width: 70px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 10px;
}
#rkDiv{
    position: absolute;
    height:400px;
    width: 600px;
    left: 30%;
    top: 20%;
    display: none;
    background-image: url(./static/mum1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    z-index: 10000000;
}
#bzMsg{
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
    resize:none;
    width: 500px;
    height:250px;
    margin-left: 50px;
    font-size: 16px;
}
#ruleRemark{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
    resize:none;
    width: 320px;
    height:120px;
}
.navbar-default span{
    line-height: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}
#addGroup{
    background: #409eff;
    width: 80px;
    color: #fff;
    margin: 15px 0;
    border: none;
    height: 30px;
}
#groupInputName{
    width: 200px;
    height: 40px;
}
#addGroupYes{
    background: #409eff;
    width: 80px;
    color: #fff;
    margin:15px 0;
    margin-left: 20px;
    border: none;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 120px;
}
.cancelGroup{
    background: #f56c6c;
    width: 80px;
    color: #fff;
    margin:15px 0;
    margin-left: 20px;
    border: none;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#groupTable td,th{
    border: 1px solid #77CDFE;
}
#groupTable th{
    text-align: center;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    background: #0d1c4b;
    color:#fff;
}
.panel-default>.panel-heading{
    color:#fff;
    background: #25335e;
}
.sfGruopTable td,th{
    border: 1px solid #77CDFE;
}
.sfGruopTable th{
    text-align: center;
}
.sfGruopTable td,th{
    border: 1px solid #77CDFE;
}
.panel{
    margin-bottom: 0;
}