
/* 公式编辑弹框 */
.Frame{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 2;
}

.form-group{
    position: relative;
    top: 70px;
    margin: 0 auto;
}
.form-group div{
    position: relative;
    margin-top: 15px;
}
.form-group div .form-span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 45px;
    vertical-align: top;
    line-height: 45px;
}
.form-group div .form-input{
    text-align: left;
    font-size: 16px;
    color: #000;
    display: inline-block;
    width: 350px;
    height: 45px;
    vertical-align: top;
    line-height: 45px;
}
#MathInput{
    padding-left: 10px;
    display: inline-block;
    width: 350px;
    height: 45px;
    margin: 0 auto;
    color: #000;
}
#MathBuffer{
    line-height: 50px;
    display: inline-block;
    border: 1px solid;
    padding: 3px;
    margin-top: 5px;
    top: 0px;
    left: 0px;
    width: 350px;
    min-height: 50px;
    background: #fff;
    font-size: 18px;
    text-align: center;
    color: #000;
}
#MathPreview{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    min-height: 50px;
    line-height: 50px;
    padding: 3px;
    width: 350px;
    margin-top: 5px;
    background-color: #fff;
    color: #000;
    padding-top: 12px;
}
.Frame .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
.Frame .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
.Frame .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}

.MathJaxEdit{
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 88%;
    height: 200px;
    overflow: auto;
}
.MathJaxEdit div{
    width: 500px;
   margin: 0 auto;
}
.MathJaxEdit .width-30{
    position: relative;
    margin:10px 0 ;
    width: 30%;
    float: left;
}
.isShow2{
    position: relative;
    display: none;
}
.isShow3{
    position: relative;
    display: none;
}
.MathJaxEdit .width-100{
    position: relative;
    margin:10px 0 ;
    width: 100%;
    float: left;
}
.width-select{
    width: 40% !important;
}
.width-30 span{
    font-size: 14px;
    color: #fff;
    width: 60px;
}
.width-30 input{
    color: #000;
    width: 100px;
    font-size: 14px;
    text-align: center;
}
.width-100 input{
    color: #000;
    width: 100px;
    font-size: 14px;
    text-align: center;
}
.width-30 select{
    color: #000;
    width: 100px;
    font-size: 14px;
}
/* 逻辑运算弹框 */
.Logic{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    /* display: none; */
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    color: #000;
    z-index: 2;
}
.Logic .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
.Logic .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
.Logic .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}

.LogicContent{
    position: relative;
    top: 80px;
    margin: 0 auto;
}
.LogicContent .addButton{
    position: relative;
    margin: 0 10px 10px 50px;
    
}
.LogicContent div{
    width: 500px;
    margin-left: 50px;
}
.LogicContent div span{
    font-size: 14px;
    color: #000;
}
.logicForm{
    position: relative;
    width: 100%;
    height: 340px;
    overflow: auto;
}
.logicForm ul{
    padding: 0;
    margin: 0;
}
.logicForm ul li{
    list-style: none;
    padding: 0;
    margin: 15px 0;
}
.logicForm ul li select{
    height: 32px;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    margin-right: 15px;
    width: 125px;
}
.logicForm ul li input{
    width: 125px;
    height: 32px;
    line-height: 32px;
}
.logicForm ul li button{
    margin-left: 15px;
}
/* 算子类型选择弹框 */
#suanfaType{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
   
}
#suanfaType .suanzi{
    width: 300px;
    height: 240px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    z-index: 3px;
    background: #031d3f;
}
#suanfaType .suanzi select{
    margin: 60px;
    text-align: center;
    width: 180px;
    height: 44px;
}
#suanfaType button{
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-image: url(./static/botton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #00beff;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    right: 60px;
    bottom: 30px;
}
.frame-foot{
    position: absolute;
    bottom: 80px;
    right: 80px;
}
.frame-foot .button{
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-image: url(./static/botton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #00beff;
    cursor: pointer;
    border-radius: 3px;
}
/* 字段信息弹框 */
#fields{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 3;
}
#fields .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
#fields .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
#fields .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}
#fields .fieldsContent{
    position: relative;
    top: 85px;
    margin: 0 auto;
    width: 100%;
}
.fieldsContent table{
    position: relative;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
}

.fieldsContent table thead{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
table th,tr{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
table th{
    border-bottom: 1px solid #fff;
    width: 133px;
}
table tr{
    width: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
table tr:nth-child(even) {
    background: #4295ec;
}
.fieldsList{
    height: 320px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
.fieldsContent table tr td{
    width: 32%;
    position: relative;
    display: inline-block;
}
table tr:hover{
    background:#31458f !important;
} 
table .backcolor{
    background:#00beff !important;
}
/* 字段信息弹框 */
#otherFormula{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 3;
}
#otherFormula .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
#otherFormula .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
#otherFormula .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}
.otherFormulaList{
    height: 320px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
#otherFormula .otherFormulaContent{
    position: relative;
    top: 85px;
    margin: 0 auto;
    width: 100%;
}
.otherFormulaContent table{
    position: relative;
    width: 450px;
    margin: 0 auto;
    border: 1px solid #fff;
}

.otherFormulaContent table thead{
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.otherFormulaContent table tr td{
    width: 24%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}