body .form-input{
    background-image: url(./static/rectangle.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: none;
    outline: none;
    border: none;
    width: 320px;
    height: 39px;
    padding-left: 10px;
}
/*body .inputButton{*/
/*    background-image: url(./static/botton.png) !important;*/
/*    background-size: 100% 100%;*/
/*    background-repeat: no-repeat;*/
/*    outline: none;*/
/*    border: none;*/
/*    width: 112px;*/
/*    height: 35px;*/
/*    padding-left: 10px;*/
/*}*/
/* 公式编辑弹框 */
.Frame{
    position: absolute;
    height: 700px;
    width: 700px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 2;
}

.form-group{
    position: relative;
    top: 70px;
    margin: 0 auto;
}
.Frame .form-group{
    margin-left: 30px;
}
.form-group div{
    position: relative;
    margin-top: 15px;
}
.form-group div .form-span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}
.Logic div .form-span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    margin-right: 20px;
}

.form-group div .form-input{
    text-align: left;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    /* width: 350px;
    height: 45px; */
    vertical-align: top;
    /* line-height: 45px; */
}
#MathInput{
    padding-left: 10px;
    display: inline-block;
    /* width: 350px;
    height: 45px; */
    margin: 0 auto;
    color: #fff;
}
#MathBuffer{
    line-height: 50px;
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    top: 0;
    left: 0;
    width: 350px;
    min-height: 50px;
    background: #fff;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat
}
#MathPreview{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    min-height: 50px;
    line-height: 50px;
    padding: 3px;
    width: 350px;
    margin-top: 5px;
    background-color: #fff;
    color: #fff;
    padding-top: 12px;
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat
}
.Frame .title{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 40px
}
.Frame .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 20px;
    display: inline-block;
    line-height: 40px;
    width: 120px;
    text-align: center;
}

.MathJaxEdit{
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 88%;
    height: 250px;
    overflow: auto;
}
.MathJaxEdit div{
    width: 500px;
   margin: 0 auto;
}
.MathJaxEdit .width-50{
    position: relative;
    margin:10px 0 ;
    width: 25%;
    float: left;
}
.isShow2{
    position: relative;
    display: none;
}
.isShow3{
    position: relative;
    display: none;
}
.MathJaxEdit .width-100{
    position: relative;
    margin:10px 0 ;
    width: 100%;
    float: left;
}
.width-select{
    /*width: 40% !important;*/
}
.width-50 span{
    font-size: 14px;
    color: #fff;
    width: 65px;
    text-align: right;
    margin-right: 13px;
    display: inline-block;
}
.width-50 input{
    color: #fff;
    width: 112px;
    font-size: 14px;
    text-align: center;
}
.width-100 input{
    color: #000;
    width: 112px;
    font-size: 14px;
    text-align: center;
}
.width-50 select{
    color: #fff;
    width: 112px;
    font-size: 14px;
    height: 22px;
}
/* 逻辑运算弹框 */
.Logic{
    position: absolute;
    height: 700px;
    width: 700px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    color: #000;
    z-index: 2;
}
.Logic span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
}
.Logic .title{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 40px
}
.Logic .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 20px;
    text-align: center;
}

.LogicContent{
    position: relative;
    top: 80px;
    margin: 0 auto;
}
.LogicContent .addButton{
    position: relative;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 60px;
    background:#409eff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    height: 24px;
    line-height: 24px;
}
.LogicContent div{
    width: 650px;
    margin-left: 50px;
}
.LogicContent div span{
    font-size: 14px;
    color: #fff;
}
.logicForm{
    position: relative;
    width: 93%;
    height: 340px;
    overflow: auto;
}
.logicForm ul{
    padding: 0;
    margin: 0;
}
.logicForm ul li{
    list-style: none;
    padding: 0;
    margin: 15px;
}
/*.logicForm ul li select{*/
/*    height: 35px;*/
/*    font-size: 14px;*/
/*    color: #000;*/
/*    line-height: 35px;*/
/*    margin-right: 15px;*/
/*    width: 164px;*/
/*}*/
.logicForm ul li select{
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    margin-right: 15px;
    width: 164px;
    background-color: rgba(0,0,0,0);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    color: #fff;
}
.logicForm ul li select option{
    background-color: rgb(22, 65, 144);
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.logicForm ul li input{
    width: 112px;
    height: 35px;
    line-height: 35px;
}
.logicForm ul li button{
    margin-left: 15px;
}
/* 算子类型选择弹框 */
#suanfaType{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
   
}
#suanfaType .suanzi{
    width: 300px;
    height: 240px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    z-index: 3px;
    background: #031d3f;
}
#suanfaType .suanzi select{
    margin: 60px;
    text-align: center;
    width: 180px;
    height: 44px;
}
#suanfaType button{
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-image: url(./static/botton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #00beff;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    right: 60px;
    bottom: 30px;
}
.frame-foot{
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.frame-foot .button{
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background:#409eff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
/* 字段信息弹框 */
#fields{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 3;
}
#fields .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
#fields .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
#fields .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}
#fields .fieldsContent{
    position: relative;
    top: 85px;
    margin: 0 auto;
    width: 100%;
}
.fieldsContent .table{
    position: relative;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
}

.fieldsContent .table thead{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.table th,tr{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.table th{
    border-bottom: 1px solid #fff;
    width: 133px;
}
.table tr{
    width: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.table tr:nth-child(even) {
    background: #4295ec;
}
.fieldsList{
    height: 320px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
.fieldsContent .table tr td{
    width: 32%;
    position: relative;
    display: inline-block;
}
.table tr:hover{
    background:#31458f !important;
} 
.table .backcolor{
    background:#00beff !important;
}
/* 字段信息弹框 */
#otherFormula{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 3;
}
#otherFormula .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
#otherFormula .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
#otherFormula .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}
.otherFormulaList{
    height: 320px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
#otherFormula .otherFormulaContent{
    position: relative;
    top: 85px;
    margin: 0 auto;
    width: 100%;
}
.otherFormulaContent .table{
    position: relative;
    width: 450px;
    margin: 0 auto;
    border: 1px solid #fff;
}

.otherFormulaContent .table thead{
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.otherFormulaContent .table tr td{
    width: 24%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 上传文件弹框 */
#fileupload{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 2;
}
#fileupload .title{
    position: absolute;
    width: 100%;
    top: 7px;
    height: 40px
}
#fileupload .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
#fileupload .title span:last-child{
    text-align: right;
    position: absolute;
    top: 7px;
    float: right;
    right: 50px;
}
#fileupload .uploadForm{
    position: relative;
    top: 85px;
    margin: 0 auto;
    width: 80%;
    color: #fff;
}
.fileUploadContent{
    border: none;
    background-color: #09f;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    height: 30px;
}

/* 关系选择框 */
#selectRela{
    position: absolute;
    height:280px;
    width: 256px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/mum1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 20%; 
    left: 40%;
    z-index: 2;
}
#selectRela div{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px;
}
#selectRela div span{
    font-size: 14px;
    color: #00EEFD;
    text-align: left;
    display: block;
    margin: 10px 0;
}
#selectRela div select{
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    width: 220px;
    height: 39px;
    outline: none;
    border: none;
    /* background: none;*/
}
#selectRela div textarea{
    width: 220px;
    height: 70px;
}
#selectRela div button{
    float: right;
    margin-top: 25px;
}
/* 数据模型 */
.modulePage{
    position: absolute;
    height:600px;
    width: 1200px;
    display: none;
    background-image: url(./static/moduleBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 20%; 
    left: 15%;
    z-index: 2;
    background-color: #084b69;
}
.modulePage .title{
    position: absolute;
    width: 100%;
    top: 2px;
    height: 40px
}
.modulePage .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
.modulePage .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 30px;
}
.modulePage .addButtonModlue{
    position: relative;
    display: flex;
    top: 50px;
    left: 107px;
}
.moduleContentList{
    position: relative;
    display: flex;
    margin: 50px 20px 50px 100px;
    width: 1100px;
    height: auto;
    flex-flow: row wrap;
}
.moduleContentList .left-list{
    margin: 10px 50px 20px 0px;
    width: 292px;
}
.backAlgorithmPage{
    position: relative;
    background-image: url(./static/botton.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: none;
    outline: none;
    border: none;
    width: 112px;
    height: 35px;
    padding-left: 10px;
    top: 20px;
    right: 10px;
    float: right;
}
.removeLogic{
    height: 35px;
    line-height: 35px;
    background: #f56c6c;
    border: none;
    color: #fff;
}
/* 规则弹框 */

#sureRule{
    position: absolute;
    height: 477px;
    width: 719px;
    display: none;
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    top: 20%;
    left: 30%;
    z-index: 2;
    background-color: #084b69;
}
#sureRule .title{
    position: absolute;
    width: 100%;
    top: 2px;
    height: 40px
}
#sureRule .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
#sureRule .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 30px;
}
#sureRule  .ruleContent{
    position: relative;
    margin: 70px auto;
    height: 300px;
}
#sureRule  .ruleContent li{
    position: relative;
    height: 50px;
    line-height: 50px;
    list-style: none;
    font-size: 14px;
    color: #fff;
   
}
#sureRule  .ruleContent li span{
    display: inline-block;
    width: 120px;
   text-align: right;
}
#sureRule  .ruleContent li input{
    background-image: url(./static/select.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: none;
    outline: none;
    border: none;
    width: 320px;
    height: 39px;
    padding-left: 10px;
}
#sureRule  .ruleContent button{
    position: absolute;
    background-image: url(./static/botton.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: none;
    outline: none;
    border: none;
    width: 112px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    right: 10px;
    bottom: 0px;
    float: right;
    color:#fff;
}
#actionDiv{
    position: absolute;
    height:500px;
    width: 800px;
    left: 25%;
    top: 20%;
    display: none;
    background-image: url(./static/mum1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    z-index: 999999;
}
#actionDiv span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
    margin-right: 20px;
}
/* 动作选择框 */
#ruleAct{
    position: absolute;
    height:400px;
    width: 600px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/mum1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    /* top: 20%; 
    left: 40%; */
    z-index: 999999;
}
#ruleAct .ruleInfo{
    position: relative;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #4295ec;
}
#ruleAct .ruleInfo .ActTitle{
    font-size: 14px;
    color: #00EEFD;
    text-align: left;
    display: block;
    margin: 10px 0;
    padding-left: 20px;
}
#ruleAct .ruleInfo .ActContont{
    position: relative;
    width: 100%;
    /* height: 100%; */
    color:#fff;
}
#ruleAct .ruleContentDiv{
    max-height: 180px;
    overflow: auto;
    margin-top: 31px;
}
#ruleAct .actionInfo {
    /* margin-top: 15px; */
    margin-left: 20px;
}
#ruleAct .actionInfo select{
    background-image: url(./static/select.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    width: 130px;
    height: 39px;
    outline: none;
    border: none;
    padding-left: 5px;
}
#ruleAct .actionInfo  input{
    padding-left: 5px;
    width: 130px;
    height: 38px;
    line-height: 38px;
    margin-left: 5px;
    margin-bottom: 5px;
}
#ruleAct .ruleAddButton{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    background-color: green;
    outline: none;
    border: none;
}
#ruleAct .actionInfo button{
    margin-top: 14px;
    width: 15px;
    height: 15px;
    line-height: 11px;
    color: #fff;
    background-color: red;
    outline: none;
    border: none;
    margin-left: 5px;
    padding-left: 4px;
    padding-top: 0;
}
#ruleAct .footerAct{
    position: absolute;
    right: 10px;
    bottom: 20px;
}